#root {
  text-align: center;
}

// Typography
$font-small: 1rem;
$font-medium: 1.2rem;
$font-large: 2rem;
$font-xlarge: 2rem;
$font-weight-small: 500;
$font-weight-medium: 600;
$font-weight-large: 800;

.pacifico-regular {
  font-family: "Pacifico", cursive;
  font-weight: 400;
  font-style: normal;
}

.contents {
  display: grid;
  grid-template-columns: minmax(370px, 1300px);
  place-content: center;
  button,
  select {
    font-family: inherit;
    font-weight: $font-weight-medium;
    cursor: pointer;
  }
  overflow: hidden;
}
.top-contact {
  width: 100%;
  background: lightgreen;
  .contents {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
  }
  .call {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  .lang-locate {
    display: flex;
    gap: 20px;
    select {
      background: 0;
      border: 0;
    }
  }
}
.main {
  .navs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    .nav-left {
      display: flex;
      width: 80%;
      .logo {
        display: flex;
        align-items: center;
        gap: 20px;
        cursor: pointer;
        h1 {
          margin: 0;
          font-size: $font-large;
          font-weight: $font-weight-large;
        }
        svg {
          width: 60px;
          .st0 {
            // fill: #f15a22;
            fill: #1ab91f;
          }

          .st1 {
            fill: #7b78cc;
          }

          .st2 {
            fill: none;
          }
        }
      }
      .nav {
        display: flex;
        width: 70%;
        justify-content: space-evenly;
      }
    }
    .acct-cart-option {
      display: flex;
      align-items: center;
      gap: 20px;
      .search {
        display: flex;
        align-items: center;
        background: #eeeeee;
        border-radius: 50px;
        overflow: hidden;
        padding: 0 12px;
        input {
          outline: 0;
          border: 0;
          padding: 12px;
          background: 0;
        }
      }

      button {
        display: flex;
        align-items: center;
        gap: 5px;
        svg {
          width: 20px;
          height: 20px;
        }
      }
    }
    button,
    select {
      background: 0;
      border: 0;
      cursor: pointer;
      outline: 0;
    }
  }
  .hero {
    text-align: justify;
    position: relative;
    height: 350px;
    &::before {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
      background: #00000036;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      // object-position: top;
    }
    .hero-content {
      position: absolute;
      left: 50px;
      bottom: 50px;
      display: inline-block;
      h1 {
        color: #fff;
        font-size: 2.5rem;
        margin: 0;
      }
    }
    button {
      font-size: 1.1rem;
      font-weight: 600;
      padding: 14px 25px;
      border-radius: 70px;
      background-color: #1ab91f;
      border: 0;
      color: #fff;
    }
  }
  .shop {
    .shop-nav {
      padding: 20px 0;
      .shopNavOptions {
        display: flex;
        justify-content: space-between;

        .navBtn {
          display: flex;
          align-items: center;
          gap: 5px;
          background: rgb(238, 238, 238);
          padding: 3px 15px;
          border-radius: 30px;
          select {
            outline: 0;
            padding: 6px !important;
          }
        }
      }
      .sort {
        border: 1px solid #000;
        padding: 3px 15px;
        border-radius: 30px;
      }
      select {
        background: 0;
        border: 0;
      }
    }
    .shopItems {
      text-align: justify;
      .items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
        gap: 20px;
        padding-bottom: 20px;
        .item {
          border-radius: 10px;
          overflow: hidden;

          .img {
            position: relative;
            height: 250px;
            border-radius: 12px;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }
            .fav {
              position: absolute;
              right: 10px;
              top: 10px;
              z-index: 4;
              background: #ffffff97;
              padding: 5px 10px;
              padding-top: 10px;
              border-radius: 50%;
              cursor: pointer;
              svg {
                fill: #1ab91f;
              }
            }
          }
          .itemInfo {
            display: flex;
            gap: 30px;
            padding: 5px;
            justify-content: space-between;
            .left {
              display: flex;
              flex-direction: column;
              gap: 5px;
              .itemName {
                margin: 0;
              }
              button {
                background: 0;
                width: fit-content;
                border: 1px solid #000;
                border-radius: 30px;
                padding: 9px 20px;
              }
            }
            .amount {
              display: flex;
              align-items: start;
              font-weight: $font-weight-medium;
            }
          }
          transition: all 0.2s ease;
          &:hover {
            box-shadow: 0 0 10px #00000081;
          }
        }
      }
    }
  }
}

.itemDescrip {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin: 30px 0;
  .itemImg {
    border-radius: 15px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .itemDescript {
    text-align: justify;
    .amount {
      padding: 20px 0;
      h2 {
        margin: 0;
      }
    }
    .buyNow {
      padding: 20px 0;
      .top {
        display: flex;
        align-items: center;
        gap: 20px;
        margin-bottom: 15px;
        svg {
          fill: #1ab91f;
        }
        .quantity {
          width: fit-content;
          display: flex;
          align-items: center;
          background: rgb(238, 238, 238);
          gap: 20px;
          border-radius: 30px;
          .btn {
            padding: 7px;
            cursor: pointer;
          }
        }
        .info {
          p {
            margin: 0;
          }
        }
      }
      .btns {
        button {
          padding: 10px 35px;
          border-radius: 30px;
          margin-right: 15px;
          border: 0;
        }

        .buy {
          background: #1ab91f;
          color: #fff;
        }
        .cart {
          background: 0;
          border: 2px solid #1ab91f;
        }
      }
    }
    .delivery {
      border: 1px solid grey;
      padding: 10px;
      .deliver {
        display: flex;
        align-items: start;
        gap: 10px;
        p {
          margin: 0;
        }
        svg {
          width: 30px;
          height: 30px;
          fill: #1ab91f;
        }
      }
    }
  }
}
.cart {
  h1 {
    text-align: justify;
    font-size: $font-large;
    margin: 0;
  }
  button {
    padding: 10px 35px;
    border-radius: 30px;
    margin-top: 30px;
    border: 0;
    width: fit-content;
    place-self: center;
    background: #1ab91f;
    color: #fff;
  }
  .cartItem {
    display: flex;
    align-items: center;
    padding: 10px 0;
    position: relative;
    .img {
      width: 80px;
      height: 80px;
      margin-right: 30px;
      border-radius: 7px;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .rating {
      margin: auto;
    }
    .amount {
      margin-left: auto;
      display: flex;
      font-weight: $font-weight-medium;
    }
    &::after {
      position: absolute;
      bottom: 0;
      content: "";
      display: block;
      width: 100%;

      height: 1px;
      background: #000;
      clear: both;
    }
  }
}

.checkout {
  .checkoutContent {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .review-delivery {
      text-align: justify;
      .review {
        padding: 20px;
        .reviewItem {
          display: flex;
          justify-content: space-between;
          align-items: center;
          p {
            font-weight: $font-weight-medium;
          }
          .left {
            display: flex;
            align-items: center;
            .img {
              border: 2px solid lawngreen;
              width: 100px;
              height: 100px;
            }
          }
          .amount {
            p {
              margin: 0;
            }
          }
        }
      }
      .deliver {
        padding: 20px;
        .top {
          display: flex;
          justify-content: space-between;
          align-items: center;
          button {
            padding: 10px 35px;
            border-radius: 30px;
            border: 0;
            background: rgb(238, 238, 238);
          }
        }
        form {
          display: grid;
          grid-template-columns: 0.5fr 2fr;
          max-width: 70%;
          column-gap: 50px;
          row-gap: 20px;
          input {
            font-family: inherit;
            border: 0;
            // border-botto m: 1px solid #000;
            color: grey;
          }
        }
      }
    }
    .summary {
      text-align: justify;
      border-left: 1px solid #000;
      padding-left: 10px;
      .coupon {
        background: rgb(238, 238, 238);
        border-radius: 30px;
        padding-left: 20px;

        width: fit-content;
        button {
          padding: 15px 35px;
          border-radius: 30px;
          border: 0;
          background: #1ab91f;
          color: #fff;
        }
        input {
          background: 0;
          padding: 15px 0;
          outline: 0;
          border: 0;
        }
      }
      .payMethods {
        display: grid;
        gap: 30px;
        /* Hide default radio button */
        input[type="radio"] {
          appearance: none; /* Removes default styling */
          width: 20px;
          height: 20px;
          border: 2px solid #ccc;
          border-radius: 50%; /* Makes it circular */
          outline: none;
          cursor: pointer;
          transition: 0.2s ease-in-out;

          /* Default background */
          background-color: #fff;
        }

        /* When selected */
        input[type="radio"]:checked {
          background-color: #3498db; /* Change to desired color */
          border-color: #3498db;
        }

        /* Optional: Add a dot inside when checked */
        input[type="radio"]:checked::after {
          content: "";
          display: block;
          width: 10px;
          height: 10px;
          margin: auto;
          border-radius: 50%; /* Small circle inside */
          background: white; /* Dot color */
        }
      }
      .cards {
        display: flex;
        gap: 20px;
        .card {
          border: 1px solid rebeccapurple;
          padding: 20px 40px;
        }
      }
      form {
        display: grid;
        input {
          font-family: inherit;
          outline: 0;
          margin-bottom: 20px;
        }
        button {
          padding: 10px 35px;
          border-radius: 30px;
          border: 0;
          place-self: center;
          color: #fff;
          background: #1ab91f;
        }
      }
    }
  }
}

footer {
  background: #0d480f;
  padding: 20px;
  margin-top: 30px;
  .logo {
    margin: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    h1 {
      color: #fff;
    }
  }
  p {
    color: #fff;
  }
  svg {
    width: 60px;
    .st0 {
      fill: #1ab91f;
    }

    .st1 {
      fill: #7b78cc;
    }

    .st2 {
      fill: none;
    }
  }
}
// media queries
@media (max-width: 925px) {
  .contents {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .main {
    nav {
      padding: 20px 10px !important;
      .acct-cart-option {
        .search {
          padding: 0 !important;
          background: 0 !important;
          input {
            display: none;
          }
        }
      }
    }
    .shop {
      .shop-nav {
        .shopNavOptions {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
          gap: 10px;
          select {
            width: 100%;
          }
        }
      }
      .shopItems {
        padding: 0 10px;
      }
    }
  }
  .itemDescrip {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }
  .cart {
    padding: 0 10px;
  }
  .checkout {
    .checkoutContent {
      grid-template-columns: 1fr;
      .review-delivery {
        .review,
        .deliver {
          padding: 0 10px;
        }
      }
    }
  }
}
@media (max-width: 650px) {
  .top-contact {
    display: none;
  }
  .main {
    .hero {
      .hero-content {
        width: 100%;
        left: 20px;
        h1 {
          font-size: 2rem;
        }
      }
    }
    .navs {
      .nav-left {
        .nav {
          display: none;
          padding: 0;
          height: 0;
          transition: all 0.5s ease-in-out;
        }
        .showNav {
          display: flex !important;
          height: 140px;
          overflow: hidden;
          position: absolute;
          flex-direction: column;
          width: 150px;
          z-index: 3;
          right: 20px;
          top: 90px;
          background: #fff;
          padding: 10px;
          border-radius: 10px;
          gap: 15px;
          button {
            text-align: justify;
          }
        }
        .logo {
          gap: 0;
        }
      }
      .ham-menu {
        border: 1px solid #000;
        border-radius: 50%;
        padding: 0 6px;
        margin-left: 8px;
        svg {
          width: 30px;
          padding-top: 7px;
        }
      }
      .acct-cart-option {
        gap: 8px;
        .search {
          border: 1px solid #000;
          padding: 6px !important;
        }
        button {
          border: 1px solid #000;
          border-radius: 50%;
          padding: 12px;
          svg {
            width: 20px;
          }
          span {
            display: none;
          }
        }
      }
    }
    .shop {
      .shopItems {
        .items {
          grid-template-columns: 1fr 1fr;
          gap: 10px;
          .item {
            button {
              width: 100% !important;
            }
            .itemInfo {
              gap: 10px;
              display: grid;
              grid-template-columns: 1fr;
              .amount {
                grid-row: 1;
              }
            }
          }
        }
      }
    }
  }
  .cart {
    .cartItem {
      h2 {
        font-size: $font-small;
      }
      .img {
        margin-right: 10px;
      }
      .rating {
        width: 100px;
        margin: 0 auto;
      }
    }
  }
}
@media (max-width: 431px) {
  .main {
    .navs {
      .nav-left {
        .logo {
          gap: 0;
          h1 {
            font-size: 1.7rem;
            line-height: 20px;
          }
          svg {
            width: 30px;
            height: 30px;
          }
        }
      }
    }
    .hero {
      .hero-content {
        left: 10px;
        h1 {
          font-size: 1.7rem;
        }
      }
    }
  }
}
